<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<h2 class="text-center">Add Contacts</h2>
		<h5 class="text-center"><a href="/">Show Contacts</a></h5>
		<form method="post" action="/actionpage">
		  <div class="form-group">
		    <label>First Name:</label>
		    <input type="text" class="form-control" name="f_name">
		  </div>
		  <div class="form-group">
		    <label>Last Name:</label>
		    <input type="text" class="form-control" name="l_name">
		  </div>
		  <div class="form-group">
		    <label>Mobile:</label>
		    <input type="number" class="form-control" name="mobile">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</body>
</html>
